#about .two-block {
  gap: 2rem;
  max-width: 1110px;
}
#about h1 {
  padding-top: 5rem;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: center;
  background: linear-gradient(279deg, var(--asparagus) 58%, var(--tea-green) 45%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.about-info p:not(:last-child) {
  margin-bottom: 1rem;
}
.about-info p {
  font-size: 1.1rem;
  color: var(--white-smoke);
  letter-spacing: 1px;
}
.about-achievement:not(:last-child) {
  margin-bottom: 1.2rem;
}
.about-achievement h2 {
  font-size: 1.6rem;
  margin-bottom: 0.2rem;
}
.about-achievement i {
  margin-right: 0.4rem;
}
.about-achievement {
  padding: 0.6rem 1rem;
  position: relative;
  transition: transform 0.3s ease-in;
}
.about-achievement:hover {
  background-color: var(--night);
  transform: scale(1.02);
}
.about-achievement:nth-child(2) {
  left: 2rem;
}
.about-achievement:last-child {
  left: 4rem;
}

/* MEDIA QUERIES */
@media (max-width: 540px) {
  #about .two-block {
    grid-template-columns: 1fr;
  }
  .about-achievement {
    position: static;
  }
}
@media (max-width: 1200px) {
  .about-achievement:nth-child(2) {
    left: unset;
  }
  .about-achievement:last-child {
    left: unset;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-29 20:48:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
