#connect h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5rem 0 3rem;
}
#connect .two-block {
  gap: 5rem;
  max-width: 1110px;
  margin-bottom: 5rem;
}
.connect-info {
  align-self: flex-start;
}
.connect-info h2 {
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: var(--tea-green);
}
.connect-info p {
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.connect-info address {
  font-style: normal;
  margin: 1rem 0;
}
.connect-info .flex {
  gap: 0.8rem;
  font-size: 2.4rem;
}
.connect-info .flex > * {
  color: var(--pakistan-green);
  transition: all 0.2s ease-in;
}
.connect-info .flex > *:hover {
  color: var(--white-smoke);
}
.connect-info p i {
  margin-right: 0.8rem;
}
.connect-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.connect-input input,
.connect-input textarea {
  background-color: var(--dark-slate-gray);
  border: none;
  color: var(--white-smoke);
  padding: 0.4rem 1rem;
  margin-top: 0.4rem;
  border-radius: 0.2rem;
}
.connect-inputs button {
  padding: 0.6rem 1rem;
  background-color: var(--pakistan-green);
  color: var(--white-smoke);
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.2s ease-in;
}
.connect-inputs button:hover {
  background-color: var(--rich-black);
  transform: scale(1.03);
}
.connect-info address > *:not(:last-child) {
  margin-bottom: 0.4rem;
}
.connect-error-message {
  color: #f10000;
  margin-top: 0.2rem;
}
.connect-success-message {
  position: fixed;
  top: 5rem;
  right: 20%;
  background-color: var(--racing-green);
  padding: 0.6rem 1rem;
  font-size: 2rem;
  border: 3px solid var(--asparagus);
  box-shadow: 0 2px 2px 0 var(--asparagus);
  border-radius: 0.4rem;
  width: 60%;
}

/* MEDIA QUERIES */
@media (max-width: 560px) {
  #connect .two-block {
    grid-template-columns: 1fr;
  }
  .connect-success-message {
    width: 80%;
    right: 10%;
  }
  .connect-success-message p {
    font-size: 1.4rem;
  }
  .connect-success-message h2 {
    line-height: 1.1;
    margin-bottom: 1rem;
  }
}